body, html {
  padding: 0;
  margin: 0;
  margin-left: 5px;
}
.hidden {
  display: none !important;
}
.auth-button {

}
.photo, .video {
  position: relative;
}
.container {
  width: 25%;
  float: left;
  margin: 10px auto;
}
.container img {
  width: 95%;
}
.feed {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  float: left;
}
.first-row, .second-row {
  float: left;
  width: 100%;
}
.heart {
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
  color: red;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
}
.username {
  display: inline-block;
  width: 80%;
  height: 30px;
  background-size: 30px;
  background-repeat: no-repeat;
  padding-left: 37px;
  margin: 2px 0;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 29px;
}
.username:hover {
  cursor: pointer;
}
