body {
  font-size: 10px;
  width: 90%;
  margin: auto;
  padding: 20px 50px;
}
h1 {
  font-size: 2em;
}
.auth {
  font-size: 2em;
  line-height: 1.4em;
}
#authLink {
  width: 220px;
  text-align: center;
  border: 1px solid;
  padding: 10px;
  border-radius: 6px;
  text-decoration: none;
  display: block;
  background-color: #2ECC71;
  color: white;
  font-size: 0.8em;
  padding-left: 50px;
  background-size: 30px;
  background-position: 24px;
  background-image: url('/images/instagram.png');
  background-repeat: no-repeat;
}
#authLink:hover {
  background-color: #58d68d;
}
.hidden {
  display: none;
}
.log {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
}
.thanks {
  font-size: 2em;
  line-height: 1.4em;
  margin-top: 1em;
}
.thanks a {
  text-decoration: none;
}
.settings {
  border: 1px solid #ccc;
  padding: 20px;
  font-size: 20px;
  margin: 30px auto;
}
.settings-title {
  margin: -20px -20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding: 10px 20px;
  font-weight: bold;
}
input[type=radio]{
  position: relative;
  top: -3px;
}
.form-group {
  margin: 6px auto;
}
.notices {
  position: fixed;
  bottom: 10px;
  font-size: 1.4em;
}
.stats {
  font-size: 2em;
  margin-top: 20px;
}
.alert-container {
  position: fixed;
  top: 5%;
  width: 300px;
  min-height: 10px;
  right: 5%;
  border-radius: 35px;
  background-color: #0084FF;
  color: white;
  letter-spacing: 0.4px;
  font-size: 12px;
  padding: 18px 40px 10px;
}